
$primary: #FEC63E;
$hover: #EEA901;
$text-color: #000;
$default-transition: all 200ms ease-in;

button {
    -webkit-touch-callout: none;
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none;
    user-select: none;
}

.btn {
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    white-space: nowrap;
}

.btn--primary {
    background-color: $primary;
    color: $text-color;
    border: 1px solid $primary;
    
}

.btn--outline {
    background-color: transparent;
    color: $text-color;
    padding: 8px 20px;
    border: 1px solid $primary;
    transition: $default-transition;
}

.btn--medium {
    padding: 8px 30px;
    font-size: 18px;
    border-radius: 25px;
}

.btn--large {
    padding: 12px 36px;
    font-size: 20px;
    border-radius: 25px;
}

.btn--mobile {
    text-align: center;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: $text-color;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: $default-transition;
    border-radius: 25px;
}

.btn--wide {
    padding: 12px 64px;
    font-size: 20px;
}

.btn--large:hover,
.btn--medium:hover,
.btn--mobile:hover {
    background: #fff;
    color: #242424;
}

.btn--wide:hover {
    color: $text-color;
    background-color: $hover;
}

.btn-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 8px 16px;
    height: 100%;
    width: 100%;
}

.primary {
    background-color: $primary;
    color: $text-color;
    font-weight: 600;
    border: none;
    transition: $default-transition;
}

.primary:hover {
    background-color: $hover;
    color: $text-color;
    border: none;
}

