.info-section {
  color: #000;

  .container {
    max-width: 70vw;
    margin-bottom: 120px;
  }
  
  .info-row {
    align-items: center;
  }
  
  .info-text-wrapper {
    max-width: 700px;
    margin-left: 50px;
  }

  .heading {
    margin-bottom: 24px;
    color: #000;
  }

  .info-subtitle {
    margin-bottom: 35px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
  }
  
  .info-img {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  img {
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
  }
}  

.about, .help {
  padding-bottom: 220px;
}

@media screen and (max-width: 1370px) {
  .info-section {
    .info-subtitle {
      font-size: 16px;
    }
  }
  .about, .help {
    padding-bottom: 140px;
  }
}

@media screen and (max-width: 1110px) {
  .container {
    max-width: 90% !important;
    height: 100% !important;
  }
}
  
@media screen and (max-width: 768px) {
  .info-section {
    padding: 0px;

    .info-text-wrapper {
      padding-bottom: 65px;
      padding-top: 35px;
      margin: 0;
    }
  }
  
  
}