$main-color: #FEC63E;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

.heading {
  font-size: 75px;
  font-weight: 600;
}

.container {
  z-index: 1;
  width: 100%;
  
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  // margin-right: -15px;
  margin-bottom: -15px;
  margin-left: -15px;
  flex-wrap: wrap;
  align-content: stretch;
}

.col {
  margin-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  flex: 1;
  max-width: 50%;
  flex-basis: 50%;
}

.swiper-pagination-bullet-active {
  background: $main-color !important;
}

.swiper-button-next, .swiper-button-prev {
  color: rgba(0, 0, 0, 0.171) !important;
}

@media screen and (max-width: 1370px) {
  .heading {
    font-size: 60px;
  }
}



@media screen and (max-width: 991px) {
  .heading {
    font-size: 42px;
  }

  // .container {
  //   padding-right: 30px;
  //   padding-left: 30px;
  // }
}

@media screen and (max-width: 768px) {
  .col {
    max-width: 100%;
    flex-basis: 100%;
  }
}